rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /spots/{spotId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        && request.resource.data.ownerId == request.auth.uid;
      allow update, delete: if request.auth != null
        && resource.data.ownerId == request.auth.uid;
    }

    match /users/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == uid;
    }

    match /favorites/{uid}/spots/{spotId} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
